<h1 style="text-align: center; color: white; margin-top: 20px;">Carousel Demo (Angular)</h1>
<div style="text-align: center;"><a href="https://github.com/sircharlie/slideshow-v2" target="_blank">Github</a></div>
<div style="text-align: center;"><a href="https://sircharlie.github.io/slideshow-v1/" target="_blank">Checkout the VanillaJs
    version</a></div>
<div class="buttons">
    <button (click)="add()">Add image</button>
    <button (click)="remove()">Remove image</button>
</div>
<div class="buttons">
    <button (click)="increase()">Increase sliding time</button>
    <button (click)="decrease()">Decrease sliding time</button>
</div>
<h1 style="text-align: center; color:white">sliding interval: {{slidingTime}} ms</h1>
<app-slider [imageUrls]=imageUrls [slidingTime]=slidingTime></app-slider>
